<div class="wrapper">
    <div class="h-12 head-container">
        <%- partial('_partial/header') %>  
        
    </div>
    <%- partial('_partial/intro') %> 
        

    
    <div class="items-center justify-center px-4 card-container">
        <%- partial('_partial/card-header') %>
        <div class="justify-center post-container">
            <%
            var posts = [];
            page.posts.each(function(item){ %>
             <%- partial('_partial/article-excerpt', {item: item}) %>
            <% }); %>
        </div>
    </div> 
     
    <div class="justify-center footer-container">
        <%- partial('_partial/footer') %> 
        <%- partial('_partial/after-footer') %> 
    </div>
    
</div>
