<div class="wrapper">
    <div class="head-container justify-center">
        <%- partial('_partial/header') %>  
        
    </div>
    <%- partial('_partial/intro') %> 
        

    
    <div class="card-container justify-center items-center">
        <%- partial('_partial/card-header') %>
        <div class="post-container justify-center">
            <%
            var posts = [];
            page.posts.each(function(item){ %>
             <%- partial('_partial/article-excerpt', {item: item}) %>
            <% }); %>
        </div>
    </div> 
     
    <div class="footer-container justify-center">
        <%- partial('_partial/footer') %> 
        <%- partial('_partial/after-footer') %> 
    </div>
    
</div>
